[Unit]
Description=mbtiles_server_go

[Service]
Type=simple
Environment="GIN_MODE=release"
Restart=always
RestartSec=5s
ExecStart=/home/caspg/mbtiles_server_go

[Install]
WantedBy=multi-user.target
